.slideshow{
    /* background-color: darkblue; */
    width: 850px;
    overflow: hidden;
    height: 480px;
    border: 10px gray solid;
   
}

img{
    width: 850px;
    height: 480px;
    
}

.slideshow ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-left: 0px;
    background-color: pink;
}


