<div class="slideshow">
  <ul class="slide-list" [ngStyle]="{ 'margin-left': marginValue }">
    <li *ngFor="let image of images">
      <img alt="{{ image }}" src="../../../assets/img/{{ image }}.jpg" />
    </li>
  </ul>
</div>
<small class="image_attribution">
  <p>
    <a href="https://www.flickr.com/photos/40143737@N02/4585943478"
      >1954...'Rear Window'- Jimmy Stewart, Grace Kelly, Alfred Hitchcock</a
    >
  </p>
  <p>
    &nbsp;by James Vaughan, used under
    <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">
      CC BY-NC-SA 2.0 </a
    >/Cropped from original
  </p>
</small>
<!-- <p>window width: {{ getScreenWidth }}</p> -->
