<div class="slideshow">
  <ul class="slide-list" [ngStyle]="{ 'margin-left': marginValue }">
    <li *ngFor="let image of images">
      <img alt="{{ image }}" src="../../../assets/img/{{ image }}.jpg" />
    </li>
  </ul>
</div>
<small class="image_attribution">
  <a href="https://www.flickr.com/photos/62100938@N02/8088812653"
    >John Irving.''Rear Window'' movie still (James Stewart & Wendell Corey).
  </a>
  <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">
    Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic
  </a>
</small>
<!-- <p>window width: {{ getScreenWidth }}</p> -->
