<section class="details_container">
  <h1>Technical Data</h1>
  <div class="poster_container">
    <div class="data_container">
      <p><span>Directed by:</span> Alfred Hitchcock</p>
      <p><span>Screenplay by:</span> John Michael Hayes</p>
      <p>
        <span>Based on:</span>
        "It Had to Be Murder" 1942 story in Dime Detective by Cornell Woolrich
      </p>
      <p><span>Produced by:</span> Alfred Hitchcock</p>
      <p><span>Cinematography:</span> Robert Burks</p>
      <p><span>Edited by:</span> George Tomasini</p>
      <p><span>Music by:</span> Franz Waxman</p>
      <p><span>Distributed by:</span> Paramount Pictures</p>
      <p><span>Production company:</span> Patron Inc.</p>
      <p><span>Release date:</span> September 1, 1954 (US)</p>
      <p><span>Running time:</span> 112 minutes</p>
      <p><span>Country:</span> United States</p>
      <p><span>Language:</span> English</p>
      <p><span>Budget:</span> $1 million</p>
      <p><span>Box office:</span> $37 million</p>
    </div>
  </div>
</section>
