ul{
    list-style: none;
}

header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: red;
    align-items: center;
    
}

header ul li{
    display: inline-block;
    margin: 0 18px;
    transition: all 0.2s;
}

header ul li:hover{
    transform: scale(1.2);
}

header nav{
    margin-right: 15px;
}

.title{
    margin-left: 20px;
   
}
