ul{
    list-style: none;
}

header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #464866;
    align-items: center;
  
    
}

header ul li{
    display: inline-block;
    margin: 0 18px;
    transition: all 0.2s;

}

header ul li:hover{
    transform: scale(1.2);
}
a{
    text-decoration: none;
    color: white;
}


header nav{
    margin-right: 15px;
}

.title{
    margin-left: 20px;
    color: #2e9cca;
}


@media screen and (max-width:600px) {
 
     .title{
        display: none;
     }

     header{
        flex-wrap: wrap;
        justify-content: center;
        font-size: 16px;
     }
   
  }
   
  
  